<section class="site-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-8 text-center">
        <h2 class="text-black h1 site-section-heading text-center">Recent Progress</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, itaque neque, delectus odio iure explicabo.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      {% for featured_client in page.featured_clients %}
      <div class="col-md-6 col-lg-4">
        <a href="#" class="media-1">
          <img src="{{site.cloudinary_url}}{{featured_client.client_image}}" alt="Image" class="img-fluid">
          <div class="media-1-content">
            <h2>{{featured_client.name}}</h2>
            <span class="category">{{featured_client.purpose}}</span>
          </div>
        </a>
      </div>
      {% endfor %}


      <div class="col-12 text-center mt-2">
        <a href="work.html" class="btn btn-primary btn-md">Show All Works</a>
      </div>


    </div>
  </div>
</section>
