<section class="site-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-8 text-center">
        <h2 class="text-black h1 site-section-heading text-center">Recent Progress</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, itaque neque, delectus odio iure explicabo.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a href="#" class="media-1">
          <img src="https://theblushedlily.files.wordpress.com/2017/01/bbg-transformation-1.jpg?w=1400" alt="Image" class="img-fluid">
          <div class="media-1-content">
            <h2>Project Name 1</h2>
            <span class="category">Web Application</span>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="#" class="media-1">
          <img src="images/img_2.jpg" alt="Image" class="img-fluid">
          <div class="media-1-content">
            <h2>Project Name 2</h2>
            <span class="category">Branding</span>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="#" class="media-1">
          <img src="images/img_3.jpg" alt="Image" class="img-fluid">
          <div class="media-1-content">
            <h2>Project Name 3</h2>
            <span class="category">Website</span>
          </div>
        </a>
      </div>

      <div class="col-12 text-center mt-2">
        <a href="work.html" class="btn btn-primary btn-md">Show All Works</a>
      </div>


    </div>
  </div>
</section>
