<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ site.description }}">
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="icon" href="img/favicon.ico" type="image/x-icon">

<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
<link rel="stylesheet" href="{{ site.github.url }}/fonts/icomoon/style.css">
<link rel="stylesheet" href="{{ site.github.url }}/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.github.url }}/css/magnific-popup.css">
<link rel="stylesheet" href="{{ site.github.url }}/css/jquery-ui.css">
<link rel="stylesheet" href="{{ site.github.url }}/css/owl.carousel.min.css">
<link rel="stylesheet" href="{{ site.github.url }}/css/owl.theme.default.min.css">
<link rel="stylesheet" href="{{ site.github.url }}/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="{{ site.github.url }}/fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="{{ site.github.url }}/css/aos.css">
<link rel="stylesheet" href="{{ site.github.url }}/css/style.css">
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="keywords" content="{%if page.tags %}{{ page.tags | join: ', ' | escape }}{% else %}{{ site.tags | join: ', ' | escape }}{% endif %}"/>
{% include analytics.html %}
