<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url({{site.cloudinary_url}}{{page.slideOneImage}});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center" data-scrollax-parent="true">

        <div class="col-md-5 col-sm-12 ftco-animate">
          <h1 class="mb-4">{{page.slideOneHeader}}</h1>
          <p class="mb-4 mb-md-5">{{page.slideOneBody}}</p>
          <p><a href="{{page.slideOneButtonLink}}" class="btn btn-primary p-3 px-xl-4 py-xl-3">{{page.slideOneButtonText}}</a></p>
        </div>

      </div>
    </div>
  </div>
  <div class="slider-item" style="background-image: url({{site.cloudinary_url}}{{page.slideTwoImage}});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center" data-scrollax-parent="true">

        <div class="col-md-5 col-sm-12 ftco-animate">
          <h1 class="mb-4">{{page.slideTwoHeader}}</h1>
          <p class="mb-4 mb-md-5">{{page.slideTwoBody}}</p>
          <p><a href="{{page.slideTwoButtonLink}}" class="btn btn-primary p-3 px-xl-4 py-xl-3">{{page.slideTwoButtonText}}</a></p>
        </div>

      </div>
    </div>
  </div>


</section>
