<section class="ftco-about d-md-flex">
  <div class="one-half img" style="background-image: url(images/about.jpg);">
    <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
      <span class="icon-play"></a>
  </div>
  <div class="one-half ftco-animate">
    <div class="heading-section ftco-animate ">
      <h2 class="mb-4"><span>Andrew Pitter</span> Personal Trainer</h2>
    </div>
    <div>
      <p>A paragraph or two about Andrew Pitter the Personal Trainer from Manchester. Talk briefly about background and experince. Talk also about why you're a personal trainer and what it means to you.
      A paragraph or two about Andrew Pitter the Personal Trainer from Manchester. Talk briefly about background and experince. Talk also about why you're a personal trainer and what it means to you.</p>
    </div>
  </div>
</section>
