
<section class="section ft-feature-1">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-12 bg-color w-100 ft-feature-1-content">
        <div class="row align-items-center">
          <div class="col-lg-5">
            <div class="h-100">
              <div class="mb-5 d-flex align-items-center">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</h2>
              </div>
              <img src="https://technext.github.io/chimper/images/about_1.jpg" alt="Image" class="img-feature img-fluid">
            </div>
          </div>
          <div class="col-lg-3 ml-auto">
            <div class="mb-5">
              <h3 class="d-flex align-items-center"><i class="fas fa-running mr-2"></i><span>Personal Training</span></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>
              <p><a href="#">Read More</a></p>
            </div>

            <div>
              <h3 class="d-flex align-items-center"><span class="icon icon-extension mr-2"></span><span>Nutrition</span></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>
              <p><a href="#">Read More</a></p>
            </div>

          </div>
          <div class="col-lg-3">
            <div class="mb-5">
              <h3 class="d-flex align-items-center"><span class="icon icon-format_paint mr-2"></span><span>Coaching</span></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>
              <p><a href="#">Read More</a></p>
            </div>

            <div>
              <h3 class="d-flex align-items-center"><span class="icon icon-question_answer mr-2"></span><span>Physiotherapy</span></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="p-3 box-with-humber">
          <div class="number-behind">01.</div>
          <h2>My Values</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="p-3 box-with-humber">
          <div class="number-behind">02.</div>
          <h2>My Mission</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="p-3 box-with-humber">
          <div class="number-behind">03.</div>
          <h2>My Philosophy</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et praesentium eos nulla qui commodi consectetur beatae fugiat. Veniam iste rerum perferendis.</p>
        </div>
      </div>
    </div>
  </div>
</section>
