
<section class="section ft-feature-1">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-12 bg-black w-100 ft-feature-1-content">
        <div class="row align-items-center">
          <div class="col-lg-5">
            <div class="h-100">
              <div class="mb-5 d-flex align-items-center">
                <div>
                  <a href="https://vimeo.com/317571768" class="popup-vimeo d-block play"><span class="icon-play"></span></a>
                </div>
                <h2>Welcome To Chimper An Awward Winning Web Agency</h2>
              </div>
              <img src="images/about_1.jpg" alt="Image" class="img-feature img-fluid">
            </div>
          </div>
          <div class="col-lg-3 ml-auto">
            <div class="mb-5">
              <h3 class="d-flex align-items-center"><span class="icon icon-phonelink mr-2"></span><span>Web Design</span></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>
              <p><a href="#">Read More</a></p>
            </div>

            <div>
              <h3 class="d-flex align-items-center"><span class="icon icon-extension mr-2"></span><span>Branding &amp; Identity</span></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>
              <p><a href="#">Read More</a></p>
            </div>

          </div>
          <div class="col-lg-3">
            <div class="mb-5">
              <h3 class="d-flex align-items-center"><span class="icon icon-format_paint mr-2"></span><span>Art Direction</span></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>
              <p><a href="#">Read More</a></p>
            </div>

            <div>
              <h3 class="d-flex align-items-center"><span class="icon icon-question_answer mr-2"></span><span>Copywriting</span></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>
              <p><a href="#">Read More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="ftco-intro">
  <div class="container-wrap">
    <div class="wrap d-md-flex justify-content-end align-items-xl-end">
      <div class="info">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex ftco-animate">
            <div class="icon"><span class="icon-phone"></span></div>
            <div class="text">
                <a href="tel:{{site.mobile}}"><h3>{{site.mobile}}</h3></a>
              <p>A small river named Duden flows by their place and supplies.</p>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
            <div class="icon"><span class="icon-my_location"></span></div>
            <div class="text">
              <h3>198 West 21th Street</h3>
              <p>	203 Fake St. Mountain View, San Francisco, California, USA</p>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
            <div class="icon"><span class="icon-clock-o"></span></div>
            <div class="text">
              <h3>Open Monday-Friday</h3>
              <p>8:00am - 9:00pm</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
