<section id="scores">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Team Name</h5>
            <div class="row">
              <div class="col-12 col-sm-6">
                <h5>Latest Result</h5>
                <p>Something</p>
                <p>Something</p>
                <p>Something</p>
                <p>Something</p>
                <p>Something</p>
              </div>
              <div class="col-12 col-sm-6">
                <h5>Fixtures</h5>
                <p>Something</p>
                <p>Something</p>
                <p>Something</p>
                <p>Something</p>
                <p>Something</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
