<!-- nav -->
<nav class="navbar navbar-expand-lg site-navbar py-4 bg-white" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="{{site.url}}"><h1 class="text-black h2 mb-0">Andrew Pitter</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        {% for item in site.menus.header %}
        {% if item.children %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle menu-item-{{ loop.index }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">{{ item.title }}</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              {% for item in item.children %}
              <a class="dropdown-item" href="{{site.github.url}}{{ item.url }}">{{ item.title }}</a>
              {% endfor %}
            </div>
          </li>
          {% else %}
          <li class="nav-item menu-item-{{ loop.index }}">
            <a class="nav-link" href="{{site.github.url}}{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
